.heading{
    width:  100%;
    /* background-color: #f8f9fa; */
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

.headstyle1{
    font-size: 1.2rem;
    writing-mode: vertical-rl;
    transform: scale(-1);
    font-weight: lighter; 
    padding: 0px;
}
.headstyle2{
    font-size: 3rem;
    font-weight: bold;
}

.headstyle{
    font-family: sans-serif;
    text-align: center; 
    margin-top: 1.5rem;
}

.Navbarstyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0 px; 
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.Linkitems{  
    padding: 1.5rem ;
    text-decoration: none;
    color: black    ; 
    font-weight: 700;
}
a.Linkitems:hover{  
    transform: scale(1.1);
    text-decoration: underline #fab534 3px;
    color :black;

}

.navHr{
    /* opacity: 0.1; */
}

.navbar-nav{
    text-align: center;
}
.nav-item{
    font-size: 18px;
}

.nav-menu-icon {
    font-size: 1.5rem;
    margin-right:20px;
    cursor: pointer;
}
/* 
.navbarr>.fas{
    font-size: 4rem;
} */

.navbarr{
    height: 6rem;
    background-color: #e0e0e096;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoHeading{
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuMobile{
    /* height: 0%; */
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 6rem;
    left: 0;
    /* background-color: rgb(0,0,0); */
    background-color: rgb(247 247 247 / 87%);
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
}
.navMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.navbarMenuList{
    text-decoration: none;
    color: black;
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}
a.navbarMenuList:hover{
    text-decoration: underline #fab534 3px;
    color: black;
}

@media only screen and (max-width :900px) {
    .headingOne{
        display: none;
    }
}
@media only screen and (min-width :900px){
    .headingTwo{
        display: none;
    }
}
